* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-image: url(images/bg1.jpeg);         /* For stable background */
    /* background-repeat: no-repeat; */
    /* animation: slideShow 30s infinite ease-in-out; */
    opacity: 1;
}

/* @keyframes slideShow {
    0%   { background-image: url("images/bg1.jpeg"); opacity: 1; }
    25%  { background-image: url("images/bg3.jpg"); opacity: 1; }
    50% {background-image: url("images/bg2.gif");opacity: 1;}
    75%  { background-image: url("images/bg4.jpg"); opacity: 1; }
    100% { background-image: url("images/bg1.jpeg"); opacity: 1; }
} */

header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 3px 10px #000;
}

header img {
    cursor: pointer;
}
header img:hover {
    transform: scale(1.15);
}

div {
    background: rgba(255, 255, 255, 0.4);
    /* backdrop-filter: blur(12px); */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 25px;
    padding: 200px 25px;

    box-shadow: 0px 8px 25px rgba(0,0,0,0.4);
}

div button {
    position: relative;           
    overflow: hidden;             
    z-index: 1;

    background-color: black;
    color: aqua;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

div button:hover {
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 25px 0 25px 0;
}

div button::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px; 
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        purple,
        red
    );
    background-size: 400%;
    animation: borderMove 6s linear infinite;
    z-index: -1;
    opacity: 0;
}

div button:hover::before {
    opacity: 1;
}

div button::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: inherit;
    z-index: -1;
}

@keyframes borderMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

div a {
    text-decoration: none;
    text-align: center;
    color: aqua;
}

div a:hover {
    color: black;
}

div h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
